<?xml version="1.1" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.findplatform.mapper.CollectMapper">
    <insert id="addItem" parameterType="com.ming.findplatform.model.Item">
        insert into collect(item_id,img_url,tag,state,pick_location,placement,pick_time,user_id,item_name,item_info)
        values (#{itemId},#{imgUrl},#{tag},#{state},#{pickLocation},#{placement},#{pickTime},#{userId},#{itemName},#{itemInfo})
    </insert>
    <delete id="deleteItemById" parameterType="java.lang.String">
        DELETE FROM collect WHERE item_id=#{itemId}
    </delete>
    <select id="getItemByTag" parameterType="java.lang.String" resultType="com.ming.findplatform.model.Item">
        SELECT * FROM collect WHERE tag=#{tag}
    </select>
    <select id="getAllItem" resultType="com.ming.findplatform.model.Item">
        SELECT * FROM collect
    </select>
</mapper>
