<?xml version="1.1" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.findplatform.mapper.UserMapper">
    <insert id="addUser" parameterType="com.ming.findplatform.model.User">
        insert into user(id,openid,avatar_url,username,password,college,phone_number) values (#{id},#{openid},#{avatarUrl},#{username},#{password},#{college},#{phoneNumber})
    </insert>
    <delete id="deleteUserById" parameterType="java.lang.String">
        DELETE FROM user WHERE id=#{id}
    </delete>
    <update id="updateUser" parameterType="com.ming.findplatform.model.User">
        UPDATE user set openid=#{openid}, avatar_url=#{avatarUrl}, username=#{username}, password=#{password}, college=#{college}, phone_number=#{phoneNumber} WHERE id=#{id}
    </update>
    <select id="getUserById" parameterType="java.lang.String" resultType="com.ming.findplatform.model.User">
        SELECT * FROM user WHERE id=#{id}
    </select>
    <select id="getUserByOpenId" parameterType="java.lang.String" resultType="com.ming.findplatform.model.User">
        SELECT * FROM user WHERE openid=#{openid}
    </select>
    <select id="getAllUser" resultType="com.ming.findplatform.model.User">
        SELECT * FROM user
    </select>
</mapper>
